* {
    box-sizing: border-box;
}

body {
    font-family : 'Roboto', 'Arial', sans-serif;
    padding     : 0;
    margin      : 0;
    color       : #111;
    &.sticky-top {
        @mixin atMedium { padding-top: $primary-navH };
    }
}

img {
    max-width : 100%;
    height    : auto;
}

.invisible { visibility : hidden }
.hide      { display    : none   }

.pull-left  { float: left  }
.pull-right { float: right }

.scroll-lock { overflow: hidden }
