.primary-nav {
    z-index          : $primary-navZ;
    background-color : $navs-color;
    color            : $navs-text;
    transition       : all 0.2s ease-in;
    @mixin smThanMedium {
        position  : fixed;
        top       : 0;
        height    : 0;
        width     : 100%;
        overflow  : hidden;
    }
    @mixin atMedium {
        position      : relative;
        height        : $primary-navH;
        border-top    : 3px solid $navs-active-color;
        border-bottom : 3px solid #111;
        padding-top   : 0
    }
    &--open {
        @mixin smThanMedium { height : 100% }
    }
    &--fixed {
        @mixin atMedium {
            position   : fixed;
            top        : 0;
            width      : 100%;
            padding    : 0;
            margin-top : calc($primary-navH * -1.5);
            &.visible {
                margin-top: 0;
            }
        }
    }
    ul {
        @mixin clearfix;
        margin     : 0;
        padding    : 0;
        text-align : center;
        @mixin smThanMedium {
            @mixin deadCenter;
            width: 100%;
        }
    }
    li {
        position    : relative;
        margin      : 0;
        list-style  : none;
        font-weight : 300;
        font-size   : 1rem;
        display     : block;
        @mixin smThanMedium {
            width: 50%;
            &:nth-child(odd) {
                float: left;
            }
            &:nth-child(even) {
                float: right;
            }
        }
        @mixin atMedium {
            display : inline-block;
            top     : -6px;
        }
    }
    .icon {
        @mixin smThanMedium {

        }
        @mixin atMedium {

        }
    }
    li a {
        @mixin noTextDecoration;
        transition  : all 0.2s ease-in;
        text-shadow : 4px 2px 3px rgba(40, 40, 40, 0.7);
        display     : block;
        width       : 100%;
        height      : $primary-navH;
        padding     : calc($primary-navH / 2) 15px;
        @mixin atMedium{
            font-size : 1.25rem;
            padding   : calc($primary-navH / 2) 25px;
        }
        &:hover  {
            background-color : $navs-hover-color;
            color            : $navs-hover-text;
        }
        &.current-link {
            background-color : $navs-active-color;
            color            : $navs-active-text;
            &:hover { background-color: $navs-hover-color }
        }
        &.active {
            color            : $navs-active-text;
            font-weight      : 800;
        }
    }
    .nav-buttons {
        @mixin smThanMedium { display: none}
        position: absolute;
        right: 15px;
        bottom: calc(($mob-navH / 1.6) * -1);
        &__button {
            margin  : 0 3px;
            z-index : $share-buttonsZ;
            float   : right;
            border  : 3px solid #111;
        }
    }
}

