.primary-nav {
    z-index          : $primary-navZ;
    background-color : $navs-color;
    color            : $navs-text;
    transition       : all 0.2s ease-in;
    overflow         : hidden;

    @mixin smThanMedium {
        position  : fixed;
        top       : 0;
        height    : 0;
        width     : 100%;
    }

    @mixin atMedium {
        position      : relative;
        height        : $primary-navH;
        padding-top   : 0
    }

    &--open {
        height : 100%;
    }

    &--fixed {
        @mixin atMedium {
            position   : fixed;
            top        : 0;
            width      : 100%;
            padding    : 0;
            margin-top : calc($primary-navH * -1);
            &.visible {
                margin-top: 0;
            }
        }
    }

    ul {
        @mixin clearfix;
        margin     : 0;
        padding    : 0;
        text-align : center;
        @mixin smThanMedium {
            @mixin deadCenter;
            width      : 100%;
        }
    }
    &.links-left ul  { text-align: left  }
    &.links-right ul { text-align: right }

    li {
        position    : relative;
        margin      : 0;
        list-style  : none;
        font-weight : 300;
        font-size   : 1rem;
        display     : block;
        @mixin smThanMedium {
            width: 50%;
            &:nth-child(odd) {
                float: left;
            }
            &:nth-child(even) {
                float: right;
            }
        }
        @mixin atMedium {
            display : inline-block;
        }
    }

    a {
        @mixin noTextDecoration;
        transition  : all 0.2s ease-in;
        display     : block;
        width       : 100%;
        height      : 100%;
        padding     : calc($primary-navH / 3) 15px;
        @mixin atMedium{
            font-size : 1.25rem;
            padding   : calc($primary-navH / 3) 25px;
        }
        &:hover  {
            background-color : $navs-hover;
            color            : $navs-hover-text;
        }
        &.current-link {
            background-color : $navs-current;
            color            : $navs-current-text;
        }
        &.active {
            font-weight      : 800;
            background-color : $navs-active;
            color            : $navs-active-text;
        }
    }
}
