.section-title {
    &--blue { color: $mainBlue }
    &--less-margin {
        margin-top    : 0;
        margin-bottom : 0.3rem !important
    }
    text-align    : center;
    font-size     : 2.55rem;
    font-weight   : 300;
    margin-top    : 0;
    margin-bottom : 1.5rem;
    @mixin atSmall {
        margin-bottom: 2rem;
    }
    strong {
        font-weight: 500;
    }
    @mixin atMedium {
        font-size     : 3.75rem;
        margin-bottom : 3.5rem;
    }
    &__icon {
        display       : block;
        text-align    : center;
        margin-left   : auto;
        margin-right  : auto;
        margin-bottom : 0.6rem;;
        @mixin atSmall {
            position      : relative;
            top           : 8px;
            display       : inline-block;
            text-align    : left;
            margin-right  : 0.5rem;
            margin-left   : 0;
            margin-bottom : 0;
        }
    }
}
