<div class='mobile-buttons visible'>
    <button id='menu-toggle' class="menu-toggle">
        <span class='hamburger'>
            <span class="middle"></span>
        </span>
    </button>
    <div id="left">
        <button>
            <img src='assets/images/icons/facebook.svg' alt='facebook icon'/>
        </button>
        <button>
            <img src="assets/images/icons/twitter.svg" alt="twitter icon" />
        </button>
    </div>
    <div id="right">
        <button>
            <a href="mailto:emailus@seabreezevacationvillas.com">
                <img src="assets/images/icons/mail.svg" alt="email icon" />
            </a>
        </button>
        <button>
            <a href="tel:12423511186">
                <img src="assets/images/icons/phone.svg" alt="phone icon" />
            </a>
        </button>
    </div>
</div>