<section id='options' class="sidebar">

    <h1 class="heading">SETTINGS</h1>

    <form ng-submit='booklet.generateTickets()'>

        <p>Location</p>
        <select
            ng-model='booklet.cfg.location'
            ng-change='booklet.printTickets()'
            ng-options="location as location for location in booklet.locations"
        ></select>

        <p>Ticket</p>
        <select
            ng-model='booklet.cfg.ticket'
            ng-change='booklet.getTicket(this) && booklet.printTickets()'
            ng-options="ticket as ticket for ticket in booklet.tickets"
        ></select>

        <p>Quantity</p>
        <input type="number"  min='0' max='99'
            ng-model='booklet.cfg.numTickets'
            ng-change='booklet.printTickets()'
        />

<!--            <input type="date" ng-model='booklet.cfg.issued' />-->

    </form>

    <button id='print-button' class='btn' onclick='window.print()'><strong>PRINT</strong></button>

</section>

<main id='ticket-booklet' class="content">
   
    
    <section ng-show='!booklet.state.printView'>
        
        
        <img id='display-ticket' 
            ng-if='booklet.ticketURL'
            src='{{booklet.ticketURL}}'
            alt='SORRY THAT TICKET CAN&apos;T BE FOUND'
        />
        
        
    </section>
    
    <section class="print-view" ng-if='booklet.state.printView'>
        
        <article class='ticket' ng-repeat='i in booklet.range'>
            <img src='{{booklet.ticketURL}}' />
            <span class='ticket-number'>{{booklet.generateTicketNumber(i)}}</span>
        </article>
        
    </section>
    
</main>