<nav id='primary-nav' class='primary-nav'>
    <ul>
        <li><a id='_home' href="#home">Home</a></li>
        <li><a id='_villas' href="#villas">Villas</a></li>
        <li><a id='_rates' href="#rates">Rates</a></li>
        <li><a id='_marina' href="#marina">Marina</a></li>
        <li><a id='_activities' href="#activities">Activities</a></li>
        <li><a id='_testimonials' href="#testimonials">Testimonials</a></li>
        <li><a id='_amenities' href="#amenities">Amenities</a></li>
    </ul>
</nav>